@font-face {
    font-family: wazeFont;
    src:url(../fonts/proxima-nova-soft-bold.ttf);
}

body {
    font-family: wazeFont;
    te
}

.navbar-brand {
    font-size: 1.8em;
}

#topContainer {
    background-image: url(../img/beach.jpg);
    height: 600px;
    width: 100%;
    background-size: cover;
}

#topRow {
    margin-top: 100px;
    text-align: center;
}

#topRow h1 {
    color: #00008B;
    font-size: 600%;
}

.bold {
    font-weight: bold;
}

.marginTop {
    margin-top: 30px;
}

.center {
    text-align: center;
}

.title {
    margin-top: 60px;
    font-size: 300%;
}
.marginBottom {
    margin-bottom: 30px;
}
#footer {
    background-color: #886AEA;
    padding-bottom: 10px;
    width: 100%;
}
.octo {
    height: 100px;
    width: 100px;
}
.appStore {
    width: 250px;
}
