@font-face {
    font-family: wazeFont;
    src:url(../fonts/proxima-nova-soft-bold.ttf);
}

body {
    font-family: wazeFont;
    te
}


.navbar{
    background-color: #886AEA;;
    border-color: #e7e7e7;
}
.octo-nav {
    height: 50px;
    width: 50px;
}


/*.navbar-brand {
    font-size: 1.8em;
    color: white;
}*/

#topContainer {
    background-image: url(../img/party-pic.jpg);
    height: 600px;
    width: 100%;
    background-size: cover;
}

#topRow {
    margin-top: 100px;
    text-align: center;
}

#topRow h1 {
    color: #886AEA;
    font-size: 600%;
    text-shadow:
    -2px -2px 0 white,
    2px 2px 0 white,
    -2px 2px 0 white,
    2px -2px 0 white;

}

/*//#00FFFF*/

#topRow p {
  color: #886AEA;
  font-size: 30px;
  text-shadow:
  -2px -2px 0 white,
  2px 2px 0 white,
  -2px 2px 0 white,
  2px -2px 0 white;
}

.bold {
    font-weight: bold;
}

.marginTop {
    margin-top: 30px;
}

.center {
    text-align: center;
}
.container{
  color: #886AEA;
}

.title {
    margin-top: 60px;
    font-size: 300%;
}
.marginBottom {
    margin-bottom: 30px;
}
#footer {
    background-color: #886AEA;
    padding-bottom: 10px;
    width: 100%;
    color: white;
}
.octo {
    height: 100px;
    width: 100px;
}
.appStore {
    width: 250px;
}
